:root {
  --color-bg-default: #FFFFFF;
  --color-bg-soft: #EDF2F7;
  --color-bg-softer: #E2E8F0;
  --color-bg-inline-code: #EDF2F7;

  --color-text-soft: #A0AEC0;
  --color-text-default: #2d3748;
  --color-text-strong: #0E111A;
}

.theme-dark {
  --color-bg-default: #1A202C;
  --color-bg-soft: #4A5568;
  --color-bg-softer: #718096;
  --color-bg-inline-code: #4A5568;

  --color-text-soft: #CBD5E0;
  --color-text-default: #E2E8F0;
  --color-text-strong: #ffffff;
}

.image-caption {
  @apply mb-5 text-soft text-sm;
  & a {
    @apply font-bold;
  }
}

@tailwind base;

@tailwind components;

@tailwind utilities;